<div class="body" *ngIf="dateObject != undefined">
	<div class="center">
		<h2>Choose a tournament</h2>
		<div id="icons-grid">
			<label *ngFor="let date of dateObject">
				<input type="radio" [(ngModel)]="startTime" class="calendar" name="calendar" value={{date.timestamp}} [checked]="true">
				<i class="material-icons">calendar_today</i>
			</label>
			<div *ngFor="let date of dateObject">
				<p>{{date.day}}</p><br>
				<p>{{date.date}}</p><br>
				<p>{{date.time}}</p><br>
				<p>LCS</p>
			</div>

		</div>
		<h2 class="divider">Games</h2>
		<div *ngIf="startTime === dateObject[0].timestamp">
			<div *ngFor="let game of groupedEvents[0]" class="game-item">
				<p>{{game.teamCode}} v {{game.teamCode2}}</p><br>
				<p>{{game.date}} {{game.time}}</p>
			</div>
		</div>
		<div *ngIf="startTime === dateObject[1].timestamp">
			<div *ngFor="let game of groupedEvents[1]" class="game-item">
				<p>{{game.teamCode}} v {{game.teamCode2}}</p><br>
				<p>{{game.date}} {{game.time}}</p>
			</div>
		</div>
		<div *ngIf="startTime === dateObject[2].timestamp">
			<div *ngFor="let game of groupedEvents[2]" class="game-item">
				<p>{{game.teamCode}} v {{game.teamCode2}}</p><br>
				<p>{{game.date}} {{game.time}}</p>
			</div>
		</div>
		<div *ngIf="startTime === dateObject[3].timestamp">
			<div *ngFor="let game of groupedEvents[3]" class="game-item">
				<p>{{game.teamCode}} v {{game.teamCode2}}</p><br>
				<p>{{game.date}} {{game.time}}</p>
			</div>
		</div>
		<div *ngIf="startTime === dateObject[4].timestamp">
			<div *ngFor="let game of groupedEvents[4]" class="game-item">
				<p>{{game.teamCode}} v {{game.teamCode2}}</p><br>
				<p>{{game.date}} {{game.time}}</p>
			</div>
		</div>
	</div>

	<div class="grid-container">
		<div class="grid-item">
			<h2 class="grid-h2">Contest Type</h2>
			<div class="switch-field">
				<input type="radio" id="head-to-head" name="contest-type" value="head-to-head" [(ngModel)]="contestType"
					value="0" />
				<label for="head-to-head">Head-to-head</label>
				<input type="radio" id="multiplayer" name="contest-type" value="multiplayer" [(ngModel)]="contestType"
					value="1" />
				<label for="multiplayer">Multiplayer</label>
			</div>
		</div>

		<div class="grid-item">
			<h2 class="grid-h2">Opponent</h2>
			<div class="switch-field">
				<input type="radio" id="public" name="contest-opponent" value="public" [(ngModel)]="opponent"
					value="0" />
				<label for="public">Public</label>
				<input type="radio" id="private" name="contest-opponent" value="private" [(ngModel)]="opponent"
					value="1" />
				<label for="private">Private</label>
			</div>
		</div>

		<div class="grid-item">
			<h2 class="grid-h2">Entry Fee</h2>
			<select id="entry-fee" [(ngModel)]="entryFee">
				<option [ngValue]="0">Free</option>
				<option [ngValue]="5">$5</option>
				<option [ngValue]="10">$10</option>
				<option [ngValue]="15">$15</option>
			</select>
		</div>

		<div class="grid-item entry">
			<h2 class="grid-h2">Name your contest</h2>
			<input type="text" id="contest-name" placeholder="Public League of Legends Tournament 1"
				[(ngModel)]="name" />
		</div>
	</div>
	<div id="submit-button">
		<button id="submit" type="submit" (click)="selectTeam()">Select Team</button>
	</div>
</div>
<div *ngIf="dateObject == undefined" style="color: red; background-color: #212121; height: 1080px; font-size: 46px; text-align: center; padding-top: 20%;">
	{{ error }}
</div>