@import '~material-icons/iconfont/material-icons.css';

.body {
    background-image: url('./assets/lolRiftDarker.png');
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    font-family: rogue-sans, sans-serif;
    display: grid;
    margin: 0;
    min-height: 100%;
    width: 100%;
    position: absolute; 
    color: white;
}

h2 {
    font-size: 40px;
}

.grid-container {
    display: inline-grid;
    grid-template-columns: 1fr 1fr;
    column-width: auto auto;
    justify-items: center;
}


.grid-item {
    float: left;
}



#contest-name {
    width: 490px;
    height: 30px;
    border-radius: 10px;
    background-color: #8ECCCC;
    font-size: 20px;
}

#entry-fee {
    width: 150px;
    font-size: 30px;
    background-color: #8ECCCC;
    color: white;
    border-radius: 10px;
}

.center {
    text-align: center;
    margin-bottom: 0%;
}

.game-item {
    display: inline-block;
    border: solid;
    border-color: #8ECCCC;
    margin-left: 2%;
    margin-right: 2%;
}

.grid-h2 {
    margin-top: 0px;
    margin-bottom: 10px;
}


p {
    display: inline;
    margin: 10px;
    font-weight: bold;
}

.material-icons {
    font-size: 100px;
    padding: 10px;
}

#icons-grid {
    display: inline-grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    column-width: auto auto;
    justify-items: center;
    margin-bottom: 1%;
}

#align {
    display: inline;
}

.calendar {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

.calendar + i {
    cursor: pointer;
}

.calendar:checked + i {
    color: #8ECCCC;
  }

.switch-field {
    display: inline-flex;

    overflow: hidden;

}

.switch-field input {
    position: absolute !important;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    width: 1px;
    border: 0;
    overflow: hidden;
}

.switch-field label {
    background-color: #e4e4e4;
    color: rgba(0, 0, 0, 0.6);
    font-size: 20px;
    line-height: 1;
    text-align: center;
    padding: 8px 16px;
    margin-right: -1px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
    transition: all 0.1s ease-in-out;
}

.switch-field label:hover {
    cursor: pointer;
}

.switch-field input:checked + label {
    background-color: #8ECCCC;
    box-shadow: none;
}

.switch-field label:first-of-type {
    border-radius: 10px 0 0 10px;
}

.switch-field label:last-of-type {
    border-radius: 0 10px 10px 0;
}


.divider {
    overflow: hidden;
    text-align: center;
    margin-bottom: 1%;
}

.divider:before,
.divider:after {
    background-color: #8ECCCC;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 20%;
}

.divider:before {
    right: 0.5em;
    margin-left: -50%;
}

.divider:after {
    left: 0.5em;
    margin-right: -50%;
}

#submit {
    width: 250px;
    height: 50px;
    font-size: 30px;
    background-color: #8ECCCC;
    color: white;
    border-radius: 10px;
}

#submit-button {
    text-align: right;
    margin-right: 20px;
}