<form>
	<div class="body">
		<div class="center">
			<h2>Choose a tournament</h2>
			<div id="icons-grid">
				<label>
					<input type="radio" class="calendar" name="calendar" checked>
					<i class="material-icons">calendar_today</i>
				</label>
				<label>
					<input type="radio" class="calendar" name="calendar">
					<i class="material-icons">calendar_today</i>
				</label>
				<label>
					<input type="radio" class="calendar" name="calendar">
					<i class="material-icons">calendar_today</i>
				</label>
				<label>
					<input type="radio" class="calendar" name="calendar">
					<i class="material-icons">calendar_today</i>
				</label>
				<label>
					<input type="radio" class="calendar" name="calendar">
					<i class="material-icons">calendar_today</i>
				</label>
				<div>
					<p>Day</p><br>
					<p>Date</p><br>
					<p>Time</p><br>
					<p>LCS</p>
				</div>
				<div>
					<p>Day</p><br>
					<p>Date</p><br>
					<p>Time</p><br>
					<p>LCS</p>
				</div>
				<div>
					<p>Day</p><br>
					<p>Date</p><br>
					<p>Time</p><br>
					<p>LCS</p>
				</div>
				<div>
					<p>Day</p><br>
					<p>Date</p><br>
					<p>Time</p><br>
					<p>LCS</p>
				</div>
				<div>
					<p>Day</p><br>
					<p>Date</p><br>
					<p>Time</p><br>
					<p>LCS</p>
				</div>

			</div>
			<h2 class="divider">Games</h2>
			<div class="game-item">
				<p>FLY v IMT</p><br>
				<p>1/25 5:00 pm</p>
			</div>
			<div class="game-item">
				<p>FLY v IMT</p><br>
				<p>1/25 5:00 pm</p>
			</div>
			<div class="game-item">
				<p>FLY v IMT</p><br>
				<p>1/25 5:00 pm</p>
			</div>
			<div class="game-item">
				<p>FLY v IMT</p><br>
				<p>1/25 5:00 pm</p>
			</div>
		</div>


		<div class="grid-container">
			<div class="grid-item">
				<h2 class="grid-h2">Contest Type</h2>
				<div class="switch-field">
					<input type="radio" id="head-to-head" name="contest-type" value="head-to-head" checked />
					<label for="head-to-head">Head-to-head</label>
					<input type="radio" id="multiplayer" name="contest-type" value="multiplayer" />
					<label for="multiplayer">Multiplayer</label>
				</div>
			</div>

			<div class="grid-item">
				<h2 class="grid-h2">Opponent</h2>
				<div class="switch-field">
					<input type="radio" id="public" name="contest-opponent" value="public" checked />
					<label for="public">Public</label>
					<input type="radio" id="private" name="contest-opponent" value="private" />
					<label for="private">Private</label>
				</div>
			</div>

			<div class="grid-item">
				<h2 class="grid-h2">Entry Fee</h2>
				<select id="entry-fee">
					<option value="free">Free</option>
					<option value="five">$5</option>
					<option value="ten">$10</option>
					<option value="fifteen">$15</option>
				</select>
			</div>

			<div class="grid-item entry">
				<h2 class="grid-h2">Name your contest</h2>
				<form action="">
					<input type="text" id="contest-name" placeholder="Public League of Legends Tournament 1">
				</form>
			</div>
		</div>
		<div id="submit-button">
			<button id="submit" type="submit" (click)="selectTeam()">Select Team</button>
		</div>
	</div>
</form>