@font-face {
    font-family: BeaufortforLOL;
    src: url("./regular/BeaufortforLOL-Regular.woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: BeaufortforLOL;
    src: url("./bold/BeaufortforLOL-Bold.woff");
    font-weight: bold;
    font-style: normal;
}