<div class="body" *ngIf="contests != undefined">
    <div class="header">
        <table>
            <tr>
                <th>Contests</th>
                <td>
                    <table class="detail-table">
                        <tr>
                            <td>${{ getEntryFees() }}</td>
                            <td>{{ contests.length }}</td>
                        </tr>
                        <tr>
                            <td>Entry Fees</td>
                            <td>Entries</td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>
    <div *ngFor="let contest of contests">
        <hr />
        <table class="contest-details">
            <tr>
                <th>{{ contest.contest.name }} <span style="color: green">({{ getRank(contest) }})</span></th>
                <td>
                    <div>
                        <table class="detail-table">
                            <tr>
                                <td>${{ valueOf(contest.contest.entryFee) }}</td>
                                <td>${{ valueOf(contest.contest.prizeAmount) }}</td>
                            </tr>
                            <tr>
                                <td>Entry Fee</td>
                                <td>Prize Amount</td>
                            </tr>
                        </table>
                    </div>
                </td>
            </tr>
        </table>
        <table class="player-details-table">
            <tr>
                <td *ngFor="let player of contest.players">
                    <div class="player-details">
                        <table>
                            <tr>
                                <td style="text-align: center">
                                    <img src="{{ player.image }}" width="100">
                                </td>
                            </tr>
                            <tr>
                                <td>{{ player.name }}</td>
                            </tr>
                            <tr style="text-align: center;">
                                <td>{{ player.role }}</td>
                            </tr>
                            <tr>
                                <td>${{ valueOf(player.salary) }}</td>
                            </tr>
                        </table>
                    </div>
                </td>
            </tr>
        </table>
        <div class="btn">
            <button (click)="invite(contest)">Invite</button>
        </div>
        <div class="btn">
            <button (click)="editContest(contest.contest)">Edit Lineup</button>
        </div>
    </div>
    <div *ngIf="showInviteBar">
        <app-invite-bar></app-invite-bar>
    </div>
</div>
<div *ngIf="contests == undefined" style="color: red; background-color: #212121; height: 1080px; font-size: 46px; text-align: center; padding-top: 20%;">
    {{ error }}
</div>