<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<div id="testSidebar" class="sidebar">
  <a href="javascript:void(0)" class="closebtn" (click)="close()">×</a>
  <h2>Invite to Contest</h2>

  <input type="text" placeholder="Search All EmuLadder usernames" id="search-text-input"><i class="fas fa-search"></i>
  <h4 style="text-align: center; margin-top: 400px;">No Recent Invites<i class="glyphicon glyphicon-user"></i></h4>
</div>