body {
  font: Light 24px PT Serif;
}

.sidebar {
  height: 100%;
  width: 300px;
  position: fixed;
  direction: right;
  z-index: 1;
  top: 0;
  background-color: #3e423e;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  right: 0;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.1s;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.sidebar h2{
  margin-top: 0;
  text-align: center;
  color: whitesmoke;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.sidebar h4{
  color: whitesmoke;
  font: Pt Serif;
}

.sidebar i{
  color: whitesmoke;
    margin-top: 45px;
}

.sidebar input[type=text] {
  padding: 8px;
  border: none;
  margin-top: 8px;
  margin-left: 5px;
  margin-right: 5px;
  width: 97%;
  padding: 10px ;
  font-size: 15px;
  border-radius: 10px 10px;
  background-color: #d3d3d3; 
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.sidebar .invitebtn {
	list-style-type: none;
	margin-left: 110px;
  margin-top: 600px;
  padding: 10px 12px;
  border-radius: 10px 10px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
  
}

.openbtn:hover {
  background-color: #444;
}

#main {
  transition: margin-right .5s;
  padding: 16px;
  text-align: right;
}

@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}
