body {
    background-color: #212121;
    color: white;
}

h1 {
    text-align: center;
    padding-top: 1%;
}

h2 {
    text-align: center;
}

p {
    padding-left: 25%;
    padding-right: 25%;
}

ul {
    padding-left: 27%;
    padding-right: 27%;
}