<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
    integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
</head>

<!-- Button trigger modal -->
  <button data-toggle="modal" data-target=".bd-example-modal">
    LogIn
  </button>

  <!-- Modal -->
  <div class="modal fade bd-example-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-body">
          <div class="container-fluid">
            <div class="row">
              <div class="col-7">
                <div class="row" id="login-modal">
                  <div class="col-auto" style="color: #3A4042; font: Bold 42px PT Serif;
                    letter-spacing: 1.61px;">Login</div>
                </div>
                <div class="row error" *ngIf="error">
                  <div class="col-auto">
                    {{ getErrorMessage() }}
                  </div>
                </div>
                <div class="row headers">
                  <div class="col-auto">Email</div>
                </div>
                <div class="row text-boxes">
                  <div class="col-auto">
                    <input type="email" placeholder="JohnDoe@email.com" [(ngModel)]="email" name="uname" required>
                  </div>
                </div>
                <div class="row headers">
                  <div class="col-lg-5 lg-auto">Password</div>
                </div>
                <div class="row text-boxes">
                  <div class="col-auto">
                    <input type="password" placeholder="*************" [(ngModel)]="password" name="psw" required>
                  </div>
                </div>
                <div class="row" id="ForgotPasswordTop">
                  <div class="col-auto">
                    <a id="ForgotPassword" href="">Forgot your password?</a>
                  </div>
                </div>
                <div class="row" id="SignUp">
                  <div class="col-auto" (click)="login()">
                    <button class="button" id="front-signin-btn">Login</button>
                    <button class="button" id="back-signin-btn">Login</button>
                  </div>
                </div>
                <div class="row" id="HaveAccount">
                  <div class="col-auto">
                    Don't have an account? <a id="HaveAccountLink" style="cursor: pointer" (click)="openSignUp()">Sign Up</a>
                  </div>
                </div>
              </div>
              <div class="col-5" style="padding-right: 0px;">
                <a class="close" data-dismiss="modal" id="close-login-btn">
                  <i class="far fa-times-circle" style="color:white; position: absolute; right: 0;"></i>
                </a>
                <img style="float: right; width: 100%; height: 100%;" src="../../assets/ladderAndPhotoMatingSignInDarker.png">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>