<div class="body">

    <div class="header">
        <h1>FantasyGames</h1>
        <img class="center" src="./assets/emuLadderAIWHITEOUTCROP.png" alt="logo" style="margin-top: 8%;"/>
      </div>

      <div class="gamelogo">
        <img src="./assets/home-lol-blue2.png" class="fix" />
        <div class="bottom-center">League of Legends</div>
        <img src="./assets/icons8-league-of-legends-white.png" class="logo" />
        <img src="./assets/home-lol-blue.png" class="fix" />
        <div class="comingsoon" style="left:31%;">Coming Soon</div>
        <img src="./assets/home-ow-blue.png" class="fix" />
        <div class="comingsoon" style="left: 51%;">Coming Soon</div>
        <img src="./assets/home-csgo-blue.png" class="fix" />
        <div class="comingsoon" style="left: 71%;">Coming Soon</div>
      </div>

    
</div>