.body {
    background-color: cadetblue;
    margin: 0;
    height: 91%;
    width: 100%;
    overflow: hidden;
    background-size: cover;
    display: grid;
    position: absolute;
}

.header {
    text-align: center;
    font-size: 120%;
    color: white;
    font-family: Rogue Sans;
    top: 18%;
    left: 10%;
}

.container {
    position: relative;
    width: 100%;
    max-width: 21%;  
}

.container img {
    width: 105%;
    margin-left: 70%;
    margin-bottom: 30%;
  }
  
.container .btn {
    position: absolute;
    transform: translate(-100%, -35%);
    background-color: transparent;
    color: black;
    padding: 3%;
    border: none;
    cursor: pointer;
    border-radius: 5%;
}
  
.container .btn:hover {
    background-color: black;
    color: white;
    padding: 5%;
}
    








.bottom-center {
    position: absolute;
    bottom: 5%;
    left: 11%;
    font-size: 175%;
    font-family: Rogue Sans;
    font-weight: bold;
    transform: translate(-50%, -50%);
    color: white;
  }

.comingsoon {
    position: absolute;
    bottom: 20%;
    margin-left: 3%;
    font-size: 200%;
    font-family: Rogue Sans;
    font-weight: bold;
    color: #8ecccc;
    transform: matrix(0.72, -0.69, 0.69, 0.72, 0, 0);
}

.row {
    display: flex;
  }

.logo {
    width: 40%; 
    position: absolute;
    margin-top: 7%;
    margin-left: -20%;
}

