.body {
    background-color: cadetblue;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    margin: 0;
    min-height: 100%;
    width: 100%;
    position: absolute;
}

.header img {
    width: 150px;
    height: 40px;
    background:transparent;
    text-align: center;
  }
  
.header h1 {
      text-align: center;
      color: white;
      font-family: Rogue Sans;
      top: 18px;
      left: 10px;
}

.gamelogo img.fix {
    height: 300px;
    width: 250px;
    position: relative;;
    bottom: 0px;
    left:center;
 }

.gamelogo img.logo {
    height: 100px;
    width: 100px;
    position: relative;;
    bottom: 0px;
    left:center;
}

.bottom-center {
    position: absolute;
    bottom: 90px;
    left: 9%;
    font-size: 25px;
    font-family: Rogue Sans;
    font-weight: bold;
    transform: translate(-50%, -50%);
    color: white;
  }

.comingsoon {
    position: absolute;
    bottom: 195px;
    left: 31%;
    font-size: 25px;
    font-family: Rogue Sans;
    font-weight: bold;
    color: #8ecccc;
    transform: matrix(0.72, -0.69, 0.69, 0.72, 0, 0);
}

.comingsoon2 {
    position: absolute;
    bottom: 195px;
    left: 51%;
    font-size: 25px;
    font-family: Rogue Sans;
    font-weight: bold;
    color: #8ecccc;
    transform: matrix(0.72, -0.69, 0.69, 0.72, 0, 0);
}

.comingsoon3 {
    position: absolute;
    bottom: 195px;
    left: 71%;
    font-size: 25px;
    font-family: Rogue Sans;
    font-weight: bold;
    color: #8ecccc;
    transform: matrix(0.72, -0.69, 0.69, 0.72, 0, 0);
}