.body {
    background-color: cadetblue;
    margin: 0;
    height: 90%;
    width: 100%;
    overflow: hidden;
    background-size: cover;
    display: grid;
    position: absolute;
}

.header {
    text-align: center;
}

.header img {
    width: 13%;
    height: 29%;
    background:transparent;
  }
  
.header h1 {
      color: white;
      font-family: Rogue Sans;
      top: 18%;
      left: 10%;
}

.gamelogo img.fix {
    height: 80%;
    width: 20%;
    position: relative;
    margin-top: 6%;
 }

.gamelogo img.logo {
    height: 100px;
    width: 100px;
    position: relative;;
    bottom: 0px;
    left:center;
}

.bottom-center {
    position: absolute;
    bottom: 4%;
    left: 9%;
    font-size: 150%;
    font-family: Rogue Sans;
    font-weight: bold;
    transform: translate(-50%, -50%);
    color: white;
  }

.comingsoon {
    position: absolute;
    bottom: 25%;
    font-size: 150%;
    font-family: Rogue Sans;
    font-weight: bold;
    color: #8ecccc;
    transform: matrix(0.72, -0.69, 0.69, 0.72, 0, 0);
}
