<div class="body">

    <div class="header">
        <h1><u>FantasyGames</u></h1>
      </div>

      <div class="row">
        <div class="column">
          <img src="./assets/home-lol-blue2.png" style="width:95%; position: relative;">
          <img src="./assets/icons8-league-of-legends-white.png" class="logo"/>
          <p class="bottom-center">League of Legends</p>
        </div>
        <div class="column">
          <img src="./assets/home-lol-blue.png" style="width:95%">
          <p class="comingsoon" style="left:26%;">Coming Soon</p>
        </div>
        <div class="column">
          <img src="./assets/home-ow-blue.png" style="width:95%">
          <p class="comingsoon" style="left: 51%;">Coming Soon</p>
        </div>
        <div class="column">
          <img src="./assets/home-csgo-blue.png" style="width:95%">
          <p class="comingsoon" style="left: 76%;">Coming Soon</p>
        </div>
      </div>

</div>