body {
    font: lighter 22px PT Serif;
    font-family: 'PT Serif', serif;
    font-weight: 500;
    /* background-image: url('./assets/lolRiftDarker.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    background-color: black; */
}

.background-image {
  background-image: url("./assets/lolRiftDarker.png");
  background-color: #000000;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.publicContests {
  background: #212121 0% 0% no-repeat padding-box;
  height: 1180px;
}

.btn-primary {
    color: #fff;
    background-color: #8ECCCC;
    border-color: #8ECCCC;
    border-radius: 20px;
}

::placeholder {
  color: white;
}

textarea:focus, input:focus{
  outline: none;
}

button:focus, select:focus{
  outline: none;
}

td {
  padding-top: 10px;
  padding-bottom: 10px;
}

/*Mouse*/
.scroll-downs {
    margin: 0px 0 70px -22px;
    line-height: 60px;
    position: absolute;
    left: 50%;
    bottom: 0px;
  }
  .mousey {
    width: 3px;
    padding: 10px 15px;
    height: 35px;
    border: 3.5px solid #fff;
    border-radius: 25px;
    opacity: 1;
    box-sizing: content-box;
  }
  .scroller {
    width: 3px;
    height: 10px;
    border-radius: 25%;
    background-color: #fff;
    animation-name: scroll;
    animation-duration: 2s;
    animation-timing-function: cubic-bezier(.15,.41,.69,.94);
    animation-iteration-count: infinite;
  }
  @keyframes scroll {
    0% { opacity: 0; }
    10% { transform: translateY(0); opacity: 1; }
    100% { transform: translateY(15px); opacity: 0;}
  }
/*Arrows*/
.wrap {
    height: 100%;
    width: 100%;
    text-align: center;
  }

  .wrap2 {
    height: 100%;
    width: 100%;
    text-align: center;
  }
  
  img {
    height: 50px;
    width: auto;
  }
  
  .wrap img {
    margin: 0px 0 0 -28px;
    line-height: 60px;
    position: absolute;
    left: 50%;
    bottom: 0px;
  }

  .wrap2 img {
    margin: 0px 0 20px -28px;
    line-height: 60px;
    position: absolute;
    left: 50%;
    bottom: 0px;
  }
  
  .bounce {
    filter: invert(100%) sepia(0%) saturate(2%) hue-rotate(43deg) brightness(105%) contrast(101%);
    animation-iteration-count: infinite;
    animation-duration: 1.5s;
    animation: bounce 3.6s ease infinite;
    transform-origin: 50% 50%;
  }
  
  @keyframes bounce {
    0% {
      transform: translateY(0);
    }
    5.55556% {
      transform: translateY(0);
    }
    11.11111% {
      transform: translateY(0);
    }
    22.22222% {
      transform: translateY(-15px);
    }
    27.77778% {
      transform: translateY(0);
    }
    33.33333% {
      transform: translateY(-15px);
    }
    44.44444% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(0);
    }
  }