<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
    integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
</head>
<body>  
    <div class="background-image">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-auto" style="font: Bold 121px BeaufortforLOL; color: white;">FANTASY</div>
            </div>
            <div class="row justify-content-center">
                <div class="col-auto">
                    <img class="LOLlogo" src="../../assets/LOLlogo.png" style="width: 50%; height: 90%; margin: auto;    
                        display: block;">
                </div>
            </div>
            <div class="row justify-content-center" style="margin-top: 4%;">
                <a class="btn btn-primary" href="#" role="button" style=" z-index: 1; font: lighter 34px PT Serif;
                    letter-spacing: 0.74px;
                    color: #FFFFFF;">Create Contest</a>
            </div>
            <div class="row justify-content-center">
                <div class="scroll-downs">
                    <div class="mousey">
                        <div class="scroller"></div>
                    </div>
                </div>
    
                <div class="wrap">
                    <img src="http://image.flaticon.com/icons/svg/3/3907.svg" id="arrow" class="animated bounce">
                </div>
                <div class="wrap2">
                    <img src="http://image.flaticon.com/icons/svg/3/3907.svg" id="arrow" class="animated bounce">
                </div>
            </div>
        </div>
    </div>

    <div class="publicContests">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-auto">
                    <span style="color: white; font: Bold 42px PT Serif;
                    letter-spacing: 1.61px;">Public Contests</span>
                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                         viewBox="0 4 22 3" style="enable-background:new 0 0 22 6.7;" xml:space="preserve">
                    <style type="text/css">
                        .st0{fill:#FFFFFF;}
                    </style>
                    <rect id="_TopLong_" x="0.3" y="4.5" class="st0" width="21.7" height="0.2"/>
                    <rect id="_BottomLong_" x="0.3" y="6.4" class="st0" width="21.7" height="0.2"/>
                    <rect x="0.9" y="4.4" class="st0" width="0.2" height="2.3"/>
                    <rect x="2.1" y="4.4" class="st0" width="0.2" height="2.3"/>
                    <rect x="3.3" y="4.4" class="st0" width="0.2" height="2.3"/>
                    <rect x="4.5" y="4.4" class="st0" width="0.2" height="2.3"/>
                    <rect x="5.7" y="4.4" class="st0" width="0.2" height="2.3"/>
                    <rect x="6.9" y="4.4" class="st0" width="0.2" height="2.3"/>
                    <rect x="8.1" y="4.4" class="st0" width="0.2" height="2.3"/>
                    <rect x="9.3" y="4.4" class="st0" width="0.2" height="2.3"/>
                    <rect x="10.5" y="4.4" class="st0" width="0.2" height="2.3"/>
                    <rect x="11.7" y="4.4" class="st0" width="0.2" height="2.3"/>
                    <rect x="12.9" y="4.4" class="st0" width="0.2" height="2.3"/>
                    <rect x="14.1" y="4.4" class="st0" width="0.2" height="2.3"/>
                    <rect x="15.4" y="4.4" class="st0" width="0.2" height="2.3"/>
                    <rect x="16.6" y="4.4" class="st0" width="0.2" height="2.3"/>
                    <rect x="17.8" y="4.4" class="st0" width="0.2" height="2.3"/>
                    <rect x="19" y="4.4" class="st0" width="0.2" height="2.3"/>
                    <rect x="20.2" y="4.4" class="st0" width="0.2" height="2.3"/>
                    <rect x="21.4" y="4.4" class="st0" width="0.2" height="2.3"/>
                    </svg>
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    <!-- Stuff on Left -->
                    <div class="row">
                        <div class="col-auto">
                            <a class="btn btn-primary" href="#" role="button" style=" z-index: 1; font: lighter 34px PT Serif;
                                                    letter-spacing: 0.74px; color: #FFFFFF; margin-top: 9%;">Create Contest</a>
                        </div>
                        <div class="col-auto">
                            <span style="color: white; font: normal 42px PT Serif; letter-spacing: 1.61px; float: left;">4:19:17:51</span>
                            <div class="col-auto align-self-end">
                                <span style="color: white; font: normal 24px PT Serif;
                                                letter-spacing: 1.61px; opacity: 0.7; float: right;">Contest Starts</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-8 align-self-end">
                    <!-- Stuff on Right -->
                    <div class="row">
                        <div class="col-auto">
                            <i class="fas fa-search" style="color:white; opacity: 0.7;"></i>
                        </div>
                        <div class="col-4">
                            <input id="TextBoxInput" type="text" placeholder="Search League of Legends Tournaments" name="psw" required
                      style="background: #212121 0% 0% no-repeat padding-box; font: Light 24px PT Serif; 
                      letter-spacing: 0.74px; color: white; opacity: 0.7; border: none; width: 415px">
                        </div>
                        <div class="col-7">
                    <select id="filter" style="background: #212121 0% 0% no-repeat padding-box; font: Light 24px PT Serif; 
                    letter-spacing: 0.74px; color: white; border: none; background-color: rgb(58, 64, 66, .5); border-radius: 14px; float: right;">
                        <option value="low" style="background: #212121;">Lowest Entry Fee</option>
                        <option value="high" style="background: #212121;">Highest Entry Fee</option>
                        <option value="open" style="background: #212121;">Open Slots</option>
                    </select>
                            <span style="color: white; font: normal 24px PT Serif;
                    letter-spacing: 1.61px; opacity: 0.7; float: right;">Sort Contest By:</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <!-- Left Side -->
                <div class="col-4">
                    <!-- 1st fcn box -->
                    <div id="gameStylesBox" style="background-color: rgb(58, 64, 66, .5); border-radius: 14px;">
                        <div class="row">
                            <div class="col-auto">
                                <!-- Game State -->
                                <span style="color: white; font: normal 36px PT Serif;
                                                letter-spacing: 1.61px;">Game Styles</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-auto" style="align-self: center;">
                                <!-- Radio1 -->
                                <input type="radio" id="male" name="gender" value="male">
                            </div>
                            <div class="col-11">
                                <!-- Head to Head -->
                                <span style="color: white; font: normal 24px PT Serif;
                                                    letter-spacing: 1.61px;">Head-to-Head</span>
                                <div class="col-10" style="padding-left: 0%;">
                                    <!-- Sentence -->
                                    <span style="color: white; font: normal 24px PT Serif;
                                                                            letter-spacing: 1.61px; opacity: .7;">1v1 style contest with
                                        salary cap and winner
                                        takes all</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-auto" style="align-self: center;">
                                <!-- Radio1 -->
                                <input type="radio" id="male" name="gender" value="male">
                            </div>
                            <div class="col-11">
                                <!-- Multiplayer -->
                                <span style="color: white; font: normal 24px PT Serif;
                                                    letter-spacing: 1.61px;">Multiplayer</span>
                                <div class="col-10" style="padding-left: 0%;">
                                    <!-- Sentence -->
                                    <span style="color: white; font: normal 24px PT Serif;
                                                                            letter-spacing: 1.61px; opacity: .7;">3-10 player contest with
                                        salary cap and division of winnings</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Slate Box -->
                    <div id="slateBox" style="background-color: rgb(58, 64, 66, .5); border-radius: 14px; margin-top: 6%;">
                        <div class="row">
                            <div class="col-auto">
                                <!-- Slate -->
                                <span style="color: white; font: normal 36px PT Serif;
                                                letter-spacing: 1.61px;">Slates</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-auto" style="align-self: center;">
                                <!-- Radio1 -->
                                <input type="radio" id="male" name="gender" value="male">
                            </div>
                            <div class="col-11">
                                <!-- Date -->
                                <span style="color: white; font: normal 24px PT Serif;
                                                    letter-spacing: 1.61px;">Thu 7:00pm ET</span>
                                <div class="col-10" style="padding-left: 0%;">
                                    <!-- Event Name -->
                                    <span style="color: white; font: normal 24px PT Serif;
                                                                            letter-spacing: 1.61px; opacity: .7;">LCS</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <select id="filter"
                                    style="background: #212121 0% 0% no-repeat padding-box; font: Light 24px PT Serif; 
                                                                    letter-spacing: 0.74px; color: white; border: none; background-color: rgb(58, 64, 66, .5); border-radius: 14px;">
                                    <option value="low" style="background: #212121;">Thu 7:00pm ET Schedule</option>
                                    <option value="high" style="background: #212121;">G2 @ 100 <br> Thu 7:00pm ET</option>
                                    <option value="open" style="background: #212121;">C9 @ EVL <br> Thu 9:00pm ET</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <!-- Entry Fee Box -->
                    <div id="entryFeeBox" style="background-color: rgb(58, 64, 66, .5); border-radius: 14px; margin-top: 6%;">
                        <div class="row">
                            <div class="col-auto">
                                <!-- Entry Fee -->
                                <span style="color: white; font: normal 36px PT Serif;
                                                letter-spacing: 1.61px;">Entry Fee</span>
                            </div>
                        </div>
                        <div class="col-10">
                            <!-- Max and Min -->
                            <span style="color: white; font: normal 24px PT Serif;
                                                letter-spacing: 1.61px;">$0</span>
                            <span style="color: white; font: normal 24px PT Serif;
                                            letter-spacing: 1.61px; float: right;">$50,000</span>
                            <div class="col-12" style="padding-left: 0%; padding-right: 0%;">
                                <!-- Max and Min Inputs (Should be sliders) -->
                                <input id="TextBoxInput" type="text" placeholder="Min" name="psw" required style="background: #212121 0% 0% no-repeat padding-box; font: Light 24px PT Serif; 
                                                letter-spacing: 0.74px; color: white; opacity: 0.7; border: none; width: 50px;">
                                <input id="TextBoxInput" type="text" placeholder="Max" name="psw" required
                                    style="background: #212121 0% 0% no-repeat padding-box; font: Light 24px PT Serif; 
                                                letter-spacing: 0.74px; color: white; opacity: 0.7; border: none; width: 50px; float: right;">
                                <!-- <span style="color: white; font: normal 24px PT Serif;
                                                letter-spacing: 1.61px; opacity: .7;">Min</span>
                                                <span style="color: white; font: normal 24px PT Serif;
                                                letter-spacing: 1.61px; opacity: .7; float: right;">Max</span> -->
                            </div>
                        </div>
                    </div>


                    

                <!-- End of Left Side -->
                </div>

                <!-- Right Side -->
                <div class="col-8">
                    <table style="background-color: rgb(58, 64, 66, .5); border-radius: 14px;">
                        <tr style="border-bottom:2pt solid #8ECCCC;">
                            <td style="padding-left: 5px; padding-right: 10px;">
                                <i class="fas fa-bookmark fa-lg" style="transform: rotate(-90deg); color: #8ECCCC;"></i>
                            </td>
                            <td>
                                <span
                                    style="color: white; font: normal 24px PT Serif; letter-spacing: 1.61px;">Public
                                    League of Legends Tournament 1</span>
                            </td>
                            <td style="padding-left: 80px;">
                                <div class="row">
                                    <div class="col-auto">
                                        <span
                                            style="color: white; font: normal 24px PT Serif;
                                            letter-spacing: 1.61px;">10 of 20</span>
                                    </div>
                                </div>
                                <div class="row justify-content-end">
                                    <div class="col-auto">
                                        <span
                                            style="color: white; font: normal 18px PT Serif; letter-spacing: 1.61px; opacity: .7;">50% Full</span>
                                    </div>
                                </div>
                            </td>
                            <td style="padding-left: 80px;">
                                <div class="row justify-content-end">
                                    <div class="col-auto">
                                        <span
                                            style="color: white; font: normal 24px PT Serif; letter-spacing: 1.61px;">$0</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-auto">
                                        <span
                                            style="color: white; font: normal 18px PT Serif; letter-spacing: 1.61px; opacity: .7;">Guaranteed in Prizes</span>
                                    </div>
                                </div>
                            </td>
                            <td style="padding-left: 40px;">
                                <i class="fas fa-coins" style="color: #8ECCCC;"></i>
                            </td>
                            <td style="padding-left: 40px;">
                                <div class="row justify-content-end">
                                    <div class="col-auto">
                                        <span
                                            style="color: white; font: normal 24px PT Serif; letter-spacing: 1.61px;">$0</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-auto">
                                        <span
                                            style="color: white; font: normal 18px PT Serif; letter-spacing: 1.61px; opacity: .7;">Entry Fee</span>
                                    </div>
                                </div>
                            </td>
                            <td style="padding-left: 20px; padding-right: 20px;">
                                <i class="fas fa-chevron-right" style="color: #8ECCCC;"></i>
                            </td>
                        </tr>

                        <tr style="border-bottom:2pt solid #8ECCCC;">
                            <td style="padding-left: 5px; padding-right: 10px;">
                                <i class="fas fa-bookmark fa-lg" style="transform: rotate(-90deg); color: #8ECCCC;"></i>
                            </td>
                            <td>
                                <span
                                    style="color: white; font: normal 24px PT Serif; letter-spacing: 1.61px;">Public
                                    League of Legends Tournament 1</span>
                            </td>
                            <td style="padding-left: 80px;">
                                <div class="row">
                                    <div class="col-auto">
                                        <span
                                            style="color: white; font: normal 24px PT Serif;
                                            letter-spacing: 1.61px;">10 of 20</span>
                                    </div>
                                </div>
                                <div class="row justify-content-end">
                                    <div class="col-auto">
                                        <span
                                            style="color: white; font: normal 18px PT Serif; letter-spacing: 1.61px; opacity: .7;">50% Full</span>
                                    </div>
                                </div>
                            </td>
                            <td style="padding-left: 80px;">
                                <div class="row justify-content-end">
                                    <div class="col-auto">
                                        <span
                                            style="color: white; font: normal 24px PT Serif; letter-spacing: 1.61px;">$0</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-auto">
                                        <span
                                            style="color: white; font: normal 18px PT Serif; letter-spacing: 1.61px; opacity: .7;">Guaranteed in Prizes</span>
                                    </div>
                                </div>
                            </td>
                            <td style="padding-left: 40px;">
                                <i class="fas fa-coins" style="color: #8ECCCC;"></i>
                            </td>
                            <td style="padding-left: 40px;">
                                <div class="row justify-content-end">
                                    <div class="col-auto">
                                        <span
                                            style="color: white; font: normal 24px PT Serif; letter-spacing: 1.61px;">$0</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-auto">
                                        <span
                                            style="color: white; font: normal 18px PT Serif; letter-spacing: 1.61px; opacity: .7;">Entry Fee</span>
                                    </div>
                                </div>
                            </td>
                            <td style="padding-left: 20px; padding-right: 20px;">
                                <i class="fas fa-chevron-right" style="color: #8ECCCC;"></i>
                            </td>
                        </tr>

                        <tr style="border-bottom:2pt solid #8ECCCC;">
                            <td style="padding-left: 5px; padding-right: 10px;">
                                <i class="fas fa-bookmark fa-lg" style="transform: rotate(-90deg); color: #8ECCCC;"></i>
                            </td>
                            <td>
                                <span
                                    style="color: white; font: normal 24px PT Serif; letter-spacing: 1.61px;">Public
                                    League of Legends Tournament 1</span>
                            </td>
                            <td style="padding-left: 80px;">
                                <div class="row">
                                    <div class="col-auto">
                                        <span
                                            style="color: white; font: normal 24px PT Serif;
                                            letter-spacing: 1.61px;">10 of 20</span>
                                    </div>
                                </div>
                                <div class="row justify-content-end">
                                    <div class="col-auto">
                                        <span
                                            style="color: white; font: normal 18px PT Serif; letter-spacing: 1.61px; opacity: .7;">50% Full</span>
                                    </div>
                                </div>
                            </td>
                            <td style="padding-left: 80px;">
                                <div class="row justify-content-end">
                                    <div class="col-auto">
                                        <span
                                            style="color: white; font: normal 24px PT Serif; letter-spacing: 1.61px;">$0</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-auto">
                                        <span
                                            style="color: white; font: normal 18px PT Serif; letter-spacing: 1.61px; opacity: .7;">Guaranteed in Prizes</span>
                                    </div>
                                </div>
                            </td>
                            <td style="padding-left: 40px;">
                                <i class="fas fa-coins" style="color: #8ECCCC;"></i>
                            </td>
                            <td style="padding-left: 40px;">
                                <div class="row justify-content-end">
                                    <div class="col-auto">
                                        <span
                                            style="color: white; font: normal 24px PT Serif; letter-spacing: 1.61px;">$0</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-auto">
                                        <span
                                            style="color: white; font: normal 18px PT Serif; letter-spacing: 1.61px; opacity: .7;">Entry Fee</span>
                                    </div>
                                </div>
                            </td>
                            <td style="padding-left: 20px; padding-right: 20px;">
                                <i class="fas fa-chevron-right" style="color: #8ECCCC;"></i>
                            </td>
                        </tr>

                        <tr style="border-bottom:2pt solid #8ECCCC;">
                            <td style="padding-left: 5px; padding-right: 10px;">
                                <i class="fas fa-bookmark fa-lg" style="transform: rotate(-90deg); color: #8ECCCC;"></i>
                            </td>
                            <td>
                                <span
                                    style="color: white; font: normal 24px PT Serif; letter-spacing: 1.61px;">Public
                                    League of Legends Tournament 1</span>
                            </td>
                            <td style="padding-left: 80px;">
                                <div class="row">
                                    <div class="col-auto">
                                        <span
                                            style="color: white; font: normal 24px PT Serif;
                                            letter-spacing: 1.61px;">10 of 20</span>
                                    </div>
                                </div>
                                <div class="row justify-content-end">
                                    <div class="col-auto">
                                        <span
                                            style="color: white; font: normal 18px PT Serif; letter-spacing: 1.61px; opacity: .7;">50% Full</span>
                                    </div>
                                </div>
                            </td>
                            <td style="padding-left: 80px;">
                                <div class="row justify-content-end">
                                    <div class="col-auto">
                                        <span
                                            style="color: white; font: normal 24px PT Serif; letter-spacing: 1.61px;">$0</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-auto">
                                        <span
                                            style="color: white; font: normal 18px PT Serif; letter-spacing: 1.61px; opacity: .7;">Guaranteed in Prizes</span>
                                    </div>
                                </div>
                            </td>
                            <td style="padding-left: 40px;">
                                <i class="fas fa-coins" style="color: #8ECCCC;"></i>
                            </td>
                            <td style="padding-left: 40px;">
                                <div class="row justify-content-end">
                                    <div class="col-auto">
                                        <span
                                            style="color: white; font: normal 24px PT Serif; letter-spacing: 1.61px;">$0</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-auto">
                                        <span
                                            style="color: white; font: normal 18px PT Serif; letter-spacing: 1.61px; opacity: .7;">Entry Fee</span>
                                    </div>
                                </div>
                            </td>
                            <td style="padding-left: 20px; padding-right: 20px;">
                                <i class="fas fa-chevron-right" style="color: #8ECCCC;"></i>
                            </td>
                        </tr>

                        <tr style="border-bottom:2pt solid #8ECCCC;">
                            <td style="padding-left: 5px; padding-right: 10px;">
                                <i class="fas fa-bookmark fa-lg" style="transform: rotate(-90deg); color: #8ECCCC;"></i>
                            </td>
                            <td>
                                <span
                                    style="color: white; font: normal 24px PT Serif; letter-spacing: 1.61px;">Public
                                    League of Legends Tournament 1</span>
                            </td>
                            <td style="padding-left: 80px;">
                                <div class="row">
                                    <div class="col-auto">
                                        <span
                                            style="color: white; font: normal 24px PT Serif;
                                            letter-spacing: 1.61px;">10 of 20</span>
                                    </div>
                                </div>
                                <div class="row justify-content-end">
                                    <div class="col-auto">
                                        <span
                                            style="color: white; font: normal 18px PT Serif; letter-spacing: 1.61px; opacity: .7;">50% Full</span>
                                    </div>
                                </div>
                            </td>
                            <td style="padding-left: 80px;">
                                <div class="row justify-content-end">
                                    <div class="col-auto">
                                        <span
                                            style="color: white; font: normal 24px PT Serif; letter-spacing: 1.61px;">$0</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-auto">
                                        <span
                                            style="color: white; font: normal 18px PT Serif; letter-spacing: 1.61px; opacity: .7;">Guaranteed in Prizes</span>
                                    </div>
                                </div>
                            </td>
                            <td style="padding-left: 40px;">
                                <i class="fas fa-coins" style="color: #8ECCCC;"></i>
                            </td>
                            <td style="padding-left: 40px;">
                                <div class="row justify-content-end">
                                    <div class="col-auto">
                                        <span
                                            style="color: white; font: normal 24px PT Serif; letter-spacing: 1.61px;">$0</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-auto">
                                        <span
                                            style="color: white; font: normal 18px PT Serif; letter-spacing: 1.61px; opacity: .7;">Entry Fee</span>
                                    </div>
                                </div>
                            </td>
                            <td style="padding-left: 20px; padding-right: 20px;">
                                <i class="fas fa-chevron-right" style="color: #8ECCCC;"></i>
                            </td>
                        </tr>

                        <tr style="border-bottom:2pt solid #8ECCCC;">
                            <td style="padding-left: 5px; padding-right: 10px;">
                                <i class="fas fa-bookmark fa-lg" style="transform: rotate(-90deg); color: #8ECCCC;"></i>
                            </td>
                            <td>
                                <span
                                    style="color: white; font: normal 24px PT Serif; letter-spacing: 1.61px;">Public
                                    League of Legends Tournament 1</span>
                            </td>
                            <td style="padding-left: 80px;">
                                <div class="row">
                                    <div class="col-auto">
                                        <span
                                            style="color: white; font: normal 24px PT Serif;
                                            letter-spacing: 1.61px;">10 of 20</span>
                                    </div>
                                </div>
                                <div class="row justify-content-end">
                                    <div class="col-auto">
                                        <span
                                            style="color: white; font: normal 18px PT Serif; letter-spacing: 1.61px; opacity: .7;">50% Full</span>
                                    </div>
                                </div>
                            </td>
                            <td style="padding-left: 80px;">
                                <div class="row justify-content-end">
                                    <div class="col-auto">
                                        <span
                                            style="color: white; font: normal 24px PT Serif; letter-spacing: 1.61px;">$0</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-auto">
                                        <span
                                            style="color: white; font: normal 18px PT Serif; letter-spacing: 1.61px; opacity: .7;">Guaranteed in Prizes</span>
                                    </div>
                                </div>
                            </td>
                            <td style="padding-left: 40px;">
                                <i class="fas fa-coins" style="color: #8ECCCC;"></i>
                            </td>
                            <td style="padding-left: 40px;">
                                <div class="row justify-content-end">
                                    <div class="col-auto">
                                        <span
                                            style="color: white; font: normal 24px PT Serif; letter-spacing: 1.61px;">$0</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-auto">
                                        <span
                                            style="color: white; font: normal 18px PT Serif; letter-spacing: 1.61px; opacity: .7;">Entry Fee</span>
                                    </div>
                                </div>
                            </td>
                            <td style="padding-left: 20px; padding-right: 20px;">
                                <i class="fas fa-chevron-right" style="color: #8ECCCC;"></i>
                            </td>
                        </tr>

                        <tr style="border-bottom:2pt solid #8ECCCC;">
                            <td style="padding-left: 5px; padding-right: 10px;">
                                <i class="fas fa-bookmark fa-lg" style="transform: rotate(-90deg); color: #8ECCCC;"></i>
                            </td>
                            <td>
                                <span
                                    style="color: white; font: normal 24px PT Serif; letter-spacing: 1.61px;">Public
                                    League of Legends Tournament 1</span>
                            </td>
                            <td style="padding-left: 80px;">
                                <div class="row">
                                    <div class="col-auto">
                                        <span
                                            style="color: white; font: normal 24px PT Serif;
                                            letter-spacing: 1.61px;">10 of 20</span>
                                    </div>
                                </div>
                                <div class="row justify-content-end">
                                    <div class="col-auto">
                                        <span
                                            style="color: white; font: normal 18px PT Serif; letter-spacing: 1.61px; opacity: .7;">50% Full</span>
                                    </div>
                                </div>
                            </td>
                            <td style="padding-left: 80px;">
                                <div class="row justify-content-end">
                                    <div class="col-auto">
                                        <span
                                            style="color: white; font: normal 24px PT Serif; letter-spacing: 1.61px;">$0</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-auto">
                                        <span
                                            style="color: white; font: normal 18px PT Serif; letter-spacing: 1.61px; opacity: .7;">Guaranteed in Prizes</span>
                                    </div>
                                </div>
                            </td>
                            <td style="padding-left: 40px;">
                                <i class="fas fa-coins" style="color: #8ECCCC;"></i>
                            </td>
                            <td style="padding-left: 40px;">
                                <div class="row justify-content-end">
                                    <div class="col-auto">
                                        <span
                                            style="color: white; font: normal 24px PT Serif; letter-spacing: 1.61px;">$0</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-auto">
                                        <span
                                            style="color: white; font: normal 18px PT Serif; letter-spacing: 1.61px; opacity: .7;">Entry Fee</span>
                                    </div>
                                </div>
                            </td>
                            <td style="padding-left: 20px; padding-right: 20px;">
                                <i class="fas fa-chevron-right" style="color: #8ECCCC;"></i>
                            </td>
                        </tr>

                        <tr style="border-bottom:2pt solid #8ECCCC;">
                            <td style="padding-left: 5px; padding-right: 10px;">
                                <i class="fas fa-bookmark fa-lg" style="transform: rotate(-90deg); color: #8ECCCC;"></i>
                            </td>
                            <td>
                                <span
                                    style="color: white; font: normal 24px PT Serif; letter-spacing: 1.61px;">Public
                                    League of Legends Tournament 1</span>
                            </td>
                            <td style="padding-left: 80px;">
                                <div class="row">
                                    <div class="col-auto">
                                        <span
                                            style="color: white; font: normal 24px PT Serif;
                                            letter-spacing: 1.61px;">10 of 20</span>
                                    </div>
                                </div>
                                <div class="row justify-content-end">
                                    <div class="col-auto">
                                        <span
                                            style="color: white; font: normal 18px PT Serif; letter-spacing: 1.61px; opacity: .7;">50% Full</span>
                                    </div>
                                </div>
                            </td>
                            <td style="padding-left: 80px;">
                                <div class="row justify-content-end">
                                    <div class="col-auto">
                                        <span
                                            style="color: white; font: normal 24px PT Serif; letter-spacing: 1.61px;">$0</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-auto">
                                        <span
                                            style="color: white; font: normal 18px PT Serif; letter-spacing: 1.61px; opacity: .7;">Guaranteed in Prizes</span>
                                    </div>
                                </div>
                            </td>
                            <td style="padding-left: 40px;">
                                <i class="fas fa-coins" style="color: #8ECCCC;"></i>
                            </td>
                            <td style="padding-left: 40px;">
                                <div class="row justify-content-end">
                                    <div class="col-auto">
                                        <span
                                            style="color: white; font: normal 24px PT Serif; letter-spacing: 1.61px;">$0</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-auto">
                                        <span
                                            style="color: white; font: normal 18px PT Serif; letter-spacing: 1.61px; opacity: .7;">Entry Fee</span>
                                    </div>
                                </div>
                            </td>
                            <td style="padding-left: 20px; padding-right: 20px;">
                                <i class="fas fa-chevron-right" style="color: #8ECCCC;"></i>
                            </td>
                        </tr>

                        <tr style="border-bottom:2pt solid #8ECCCC;">
                            <td style="padding-left: 5px; padding-right: 10px;">
                                <i class="fas fa-bookmark fa-lg" style="transform: rotate(-90deg); color: #8ECCCC;"></i>
                            </td>
                            <td>
                                <span
                                    style="color: white; font: normal 24px PT Serif; letter-spacing: 1.61px;">Public
                                    League of Legends Tournament 1</span>
                            </td>
                            <td style="padding-left: 80px;">
                                <div class="row">
                                    <div class="col-auto">
                                        <span
                                            style="color: white; font: normal 24px PT Serif;
                                            letter-spacing: 1.61px;">10 of 20</span>
                                    </div>
                                </div>
                                <div class="row justify-content-end">
                                    <div class="col-auto">
                                        <span
                                            style="color: white; font: normal 18px PT Serif; letter-spacing: 1.61px; opacity: .7;">50% Full</span>
                                    </div>
                                </div>
                            </td>
                            <td style="padding-left: 80px;">
                                <div class="row justify-content-end">
                                    <div class="col-auto">
                                        <span
                                            style="color: white; font: normal 24px PT Serif; letter-spacing: 1.61px;">$0</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-auto">
                                        <span
                                            style="color: white; font: normal 18px PT Serif; letter-spacing: 1.61px; opacity: .7;">Guaranteed in Prizes</span>
                                    </div>
                                </div>
                            </td>
                            <td style="padding-left: 40px;">
                                <i class="fas fa-coins" style="color: #8ECCCC;"></i>
                            </td>
                            <td style="padding-left: 40px;">
                                <div class="row justify-content-end">
                                    <div class="col-auto">
                                        <span
                                            style="color: white; font: normal 24px PT Serif; letter-spacing: 1.61px;">$0</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-auto">
                                        <span
                                            style="color: white; font: normal 18px PT Serif; letter-spacing: 1.61px; opacity: .7;">Entry Fee</span>
                                    </div>
                                </div>
                            </td>
                            <td style="padding-left: 20px; padding-right: 20px;">
                                <i class="fas fa-chevron-right" style="color: #8ECCCC;"></i>
                            </td>
                        </tr>

                        <tr style="border-bottom:2pt solid #8ECCCC;">
                            <td style="padding-left: 5px; padding-right: 10px;">
                                <i class="fas fa-bookmark fa-lg" style="transform: rotate(-90deg); color: #8ECCCC;"></i>
                            </td>
                            <td>
                                <span
                                    style="color: white; font: normal 24px PT Serif; letter-spacing: 1.61px;">Public
                                    League of Legends Tournament 1</span>
                            </td>
                            <td style="padding-left: 80px;">
                                <div class="row">
                                    <div class="col-auto">
                                        <span
                                            style="color: white; font: normal 24px PT Serif;
                                            letter-spacing: 1.61px;">10 of 20</span>
                                    </div>
                                </div>
                                <div class="row justify-content-end">
                                    <div class="col-auto">
                                        <span
                                            style="color: white; font: normal 18px PT Serif; letter-spacing: 1.61px; opacity: .7;">50% Full</span>
                                    </div>
                                </div>
                            </td>
                            <td style="padding-left: 80px;">
                                <div class="row justify-content-end">
                                    <div class="col-auto">
                                        <span
                                            style="color: white; font: normal 24px PT Serif; letter-spacing: 1.61px;">$0</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-auto">
                                        <span
                                            style="color: white; font: normal 18px PT Serif; letter-spacing: 1.61px; opacity: .7;">Guaranteed in Prizes</span>
                                    </div>
                                </div>
                            </td>
                            <td style="padding-left: 40px;">
                                <i class="fas fa-coins" style="color: #8ECCCC;"></i>
                            </td>
                            <td style="padding-left: 40px;">
                                <div class="row justify-content-end">
                                    <div class="col-auto">
                                        <span
                                            style="color: white; font: normal 24px PT Serif; letter-spacing: 1.61px;">$0</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-auto">
                                        <span
                                            style="color: white; font: normal 18px PT Serif; letter-spacing: 1.61px; opacity: .7;">Entry Fee</span>
                                    </div>
                                </div>
                            </td>
                            <td style="padding-left: 20px; padding-right: 20px;">
                                <i class="fas fa-chevron-right" style="color: #8ECCCC;"></i>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- New Section of Page, Roster Breakdown -->
    <div class="rosterBreakdown">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-auto">
                    <span style="color: white; font: Bold 42px PT Serif;
                    letter-spacing: 1.61px;">Roster Breakdown</span>
                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                         viewBox="0 4 22 3" style="enable-background:new 0 0 22 6.7;" xml:space="preserve">
                    <style type="text/css">
                        .st0{fill:#FFFFFF;}
                    </style>
                    <rect id="_TopLong_" x="0.3" y="4.5" class="st0" width="21.7" height="0.2"/>
                    <rect id="_BottomLong_" x="0.3" y="6.4" class="st0" width="21.7" height="0.2"/>
                    <rect x="0.9" y="4.4" class="st0" width="0.2" height="2.3"/>
                    <rect x="2.1" y="4.4" class="st0" width="0.2" height="2.3"/>
                    <rect x="3.3" y="4.4" class="st0" width="0.2" height="2.3"/>
                    <rect x="4.5" y="4.4" class="st0" width="0.2" height="2.3"/>
                    <rect x="5.7" y="4.4" class="st0" width="0.2" height="2.3"/>
                    <rect x="6.9" y="4.4" class="st0" width="0.2" height="2.3"/>
                    <rect x="8.1" y="4.4" class="st0" width="0.2" height="2.3"/>
                    <rect x="9.3" y="4.4" class="st0" width="0.2" height="2.3"/>
                    <rect x="10.5" y="4.4" class="st0" width="0.2" height="2.3"/>
                    <rect x="11.7" y="4.4" class="st0" width="0.2" height="2.3"/>
                    <rect x="12.9" y="4.4" class="st0" width="0.2" height="2.3"/>
                    <rect x="14.1" y="4.4" class="st0" width="0.2" height="2.3"/>
                    <rect x="15.4" y="4.4" class="st0" width="0.2" height="2.3"/>
                    <rect x="16.6" y="4.4" class="st0" width="0.2" height="2.3"/>
                    <rect x="17.8" y="4.4" class="st0" width="0.2" height="2.3"/>
                    <rect x="19" y="4.4" class="st0" width="0.2" height="2.3"/>
                    <rect x="20.2" y="4.4" class="st0" width="0.2" height="2.3"/>
                    <rect x="21.4" y="4.4" class="st0" width="0.2" height="2.3"/>
                    </svg>
                </div>
            </div>
            <!-- Roster Breakdown Image -->
            <div class="row justify-content-center">
                <div class="col-auto">
                    <img style="height: 726px; width: 971px; margin-top: 2%;" src="../../assets/DraftKingsRoster.png">
                </div>
            </div>
            <!-- Roster Slogan Paragraph -->
            <div class="row justify-content-center">
                <div class="col-5">
                    <p style="color: white; font: normal 42px PT Serif; text-align: center;
                    letter-spacing: 1.61px;">Pick one player from each position to fill your team!</p>
                </div>
            </div>
            <!-- Button to Roster Breakdown -->
            <div class="row justify-content-center">
                <a routerLink="breakdown" class="btn btn-primary" href="#" role="button" style=" z-index: 1; font: lighter 44px PT Serif;
                    letter-spacing: 0.74px;
                    color: #FFFFFF;">In Depth Roster Breakdown</a>
            </div>
        </div>
    </div>
    <!-- New Section of Page, Scoring Breakdown -->
    <div class="scoringBreakdown">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-auto">
                    <span style="color: white; font: Bold 42px PT Serif;
                    letter-spacing: 1.61px;">Scoring Breakdown</span>
                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                         viewBox="0 4 22 3" style="enable-background:new 0 0 22 6.7;" xml:space="preserve">
                    <style type="text/css">
                        .st0{fill:#FFFFFF;}
                    </style>
                    <rect id="_TopLong_" x="0.3" y="4.5" class="st0" width="21.7" height="0.2"/>
                    <rect id="_BottomLong_" x="0.3" y="6.4" class="st0" width="21.7" height="0.2"/>
                    <rect x="0.9" y="4.4" class="st0" width="0.2" height="2.3"/>
                    <rect x="2.1" y="4.4" class="st0" width="0.2" height="2.3"/>
                    <rect x="3.3" y="4.4" class="st0" width="0.2" height="2.3"/>
                    <rect x="4.5" y="4.4" class="st0" width="0.2" height="2.3"/>
                    <rect x="5.7" y="4.4" class="st0" width="0.2" height="2.3"/>
                    <rect x="6.9" y="4.4" class="st0" width="0.2" height="2.3"/>
                    <rect x="8.1" y="4.4" class="st0" width="0.2" height="2.3"/>
                    <rect x="9.3" y="4.4" class="st0" width="0.2" height="2.3"/>
                    <rect x="10.5" y="4.4" class="st0" width="0.2" height="2.3"/>
                    <rect x="11.7" y="4.4" class="st0" width="0.2" height="2.3"/>
                    <rect x="12.9" y="4.4" class="st0" width="0.2" height="2.3"/>
                    <rect x="14.1" y="4.4" class="st0" width="0.2" height="2.3"/>
                    <rect x="15.4" y="4.4" class="st0" width="0.2" height="2.3"/>
                    <rect x="16.6" y="4.4" class="st0" width="0.2" height="2.3"/>
                    <rect x="17.8" y="4.4" class="st0" width="0.2" height="2.3"/>
                    <rect x="19" y="4.4" class="st0" width="0.2" height="2.3"/>
                    <rect x="20.2" y="4.4" class="st0" width="0.2" height="2.3"/>
                    <rect x="21.4" y="4.4" class="st0" width="0.2" height="2.3"/>
                    </svg>
                </div>
            </div>
            <!-- Roster Breakdown Image -->
            <div class="row justify-content-center">
                <div class="col-auto">
                    <img style="height: 726px; width: 971px; margin-top: 2%;" src="../../assets/DraftKingsScoring.png">
                </div>
            </div>
            <!-- Button to Roster Breakdown -->
            <div class="row justify-content-center" style="margin-top: 4%;">
                <a routerLink="breakdown" class="btn btn-primary" href="#" role="button" style=" z-index: 1; font: lighter 44px PT Serif;
                    letter-spacing: 0.74px;
                    color: #FFFFFF;">In Depth Scoring Breakdown</a>
            </div>
        </div>
    </div>
            
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>
</html>