<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
    integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
</head>
<body>
    <div>
        <img class="bg" src="../../assets/lolRiftDarker.png">
    </div>

    
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-auto" style="font: Bold 121px BeaufortforLOL; color: white;">FANTASY</div>
        </div>
        <div class="row justify-content-center">
            <div class="col-auto">
                <img class="LOLlogo" src="../../assets/LOLlogo.png" style="width: 50%; height: 90%; margin: auto;    
                    display: block;">
            </div>
        </div>
        <div class="row justify-content-center" style="margin-top: 8%;">
            <a class="btn btn-primary" href="#" role="button" style=" z-index: 1; font: lighter 34px PT Serif;
                letter-spacing: 0.74px;
                color: #FFFFFF;">Create Contest</a>
        </div>
        <div class="row justify-content-center">
            <div class="scroll-downs">
                <div class="mousey">
                    <div class="scroller"></div>
                </div>
            </div>
        
            <div class="wrap">
                <img src="http://image.flaticon.com/icons/svg/3/3907.svg" id="arrow" class="animated bounce">
            </div>
            <div class="wrap2">
                <img src="http://image.flaticon.com/icons/svg/3/3907.svg" id="arrow" class="animated bounce">
            </div>
        </div>
    </div>
        

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
</body>
</html>