body {
    font: lighter 22px PT Serif;
    font-family: 'PT Serif', serif;
    font-weight: 500;
    /* background-image: url('./assets/lolRiftDarker.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    background-color: black; */
}

.background-image {
  background-image: url("./assets/lolRiftDarker.png");
  background-color: #000000;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.publicContests {
  background: #212121 0% 0% no-repeat padding-box;
  height: 1080px;
}

.rosterBreakdown {
  background: #50717B 0% 0% no-repeat padding-box;
  height: 1080px;
}

.scoringBreakdown {
  background: #212121 0% 0% no-repeat padding-box;
  height: 1080px;
}

.btn-primary {
    color: #fff;
    background-color: #8ECCCC;
    border-color: #8ECCCC;
    border-radius: 20px;
}

::placeholder {
  color: white;
}

textarea:focus, input:focus{
  outline: none;
}

button:focus, select:focus{
  outline: none;
}

td {
  padding-top: 10px;
  padding-bottom: 10px;
}

/*Mouse*/
.scroll-downs {
    /* margin: 0px 0 70px -22px; */
    margin-bottom: 9%;
    line-height: 60px;
    position: absolute;
    left: 49%;
    bottom: 0px;
  }
  .mousey {
    width: 3px;
    padding: 10px 15px;
    height: 35px;
    border: 3.5px solid #fff;
    border-radius: 25px;
    opacity: 1;
    box-sizing: content-box;
  }
  .scroller {
    width: 3px;
    height: 10px;
    border-radius: 25%;
    background-color: #fff;
    animation-name: scroll;
    animation-duration: 2s;
    animation-timing-function: cubic-bezier(.15,.41,.69,.94);
    animation-iteration-count: infinite;
  }
  @keyframes scroll {
    0% { opacity: 0; }
    10% { transform: translateY(0); opacity: 1; }
    100% { transform: translateY(15px); opacity: 0;}
  }
/*Arrows*/
.wrap {
    height: 100%;
    width: 100%;
    text-align: center;
  }

  .wrap2 {
    height: 100%;
    width: 100%;
    text-align: center;
  }
  
  img {
    height: 50px;
    width: auto;
  }
  
  .wrap img {
    /* margin: 0px 0 0 -28px; */
    margin-bottom: 7%;
    line-height: 60px;
    position: absolute;
    left: 48.8%;
    bottom: 0px;
  }

  .wrap2 img {
    /* margin: 0px 0 20px -28px; */
    margin-bottom: 6%;
    line-height: 60px;
    position: absolute;
    left: 48.8%;
    bottom: 0px;
  }
  
  .bounce {
    filter: invert(100%) sepia(0%) saturate(2%) hue-rotate(43deg) brightness(105%) contrast(101%);
    animation-iteration-count: infinite;
    animation-duration: 1.5s;
    animation: bounce 3.6s ease infinite;
    transform-origin: 50% 50%;
  }
  
  @keyframes bounce {
    0% {
      transform: translateY(0);
    }
    5.55556% {
      transform: translateY(0);
    }
    11.11111% {
      transform: translateY(0);
    }
    22.22222% {
      transform: translateY(-15px);
    }
    27.77778% {
      transform: translateY(0);
    }
    33.33333% {
      transform: translateY(-15px);
    }
    44.44444% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(0);
    }
  }

div#FANTASY.col-auto {
  font: Bold 121px BeaufortforLOL; 
  color: white;
}

img.LOLlogo {
  width: 50%; 
  height: 90%; 
  margin: auto;    
  display: block;
}

a#CreateContest1.btn.btn-primary {
  z-index: 1; 
  font: lighter 34px PT Serif;
  letter-spacing: 0.74px;
  color: #FFFFFF;
}

span#publicContests {
  color: white; 
  font: Bold 42px PT Serif;
  letter-spacing: 1.61px;
}

a#CreateContest2.btn.btn-primary {
  z-index: 1; 
  font: lighter 34px PT Serif;
  letter-spacing: 0.74px; 
  color: #FFFFFF; 
  margin-top: 9%;
}

span#ContestStartTime {
  color: white; 
  font: normal 42px PT Serif; 
  letter-spacing: 1.61px; 
  float: left;
}

span#ContestStart {
  color: white; 
  font: normal 24px PT Serif;
  letter-spacing: 1.61px; 
  opacity: 0.7; 
  float: right;
}

i.fas.fa-search {
  color:white;
  opacity: 0.7;
}

input#TournamentSearch {
  background: #212121 0% 0% no-repeat padding-box; 
  font: Light 24px PT Serif; 
  letter-spacing: 0.74px; 
  color: white; 
  opacity: 0.7; 
  border: none; 
  width: 415px
}

select#filterFee {
  padding-left: 1%; 
  padding-right: 1%; 
  background: #212121 0% 0% no-repeat padding-box; 
  font: Light 24px PT Serif; 
  letter-spacing: 0.74px; 
  color: white; 
  border: none; 
  background-color: rgb(58, 64, 66, .5); 
  border-radius: 14px; 
  float: right;
}

span#SortContest {
  color: white; 
  font: normal 24px PT Serif;
  letter-spacing: 1.61px; 
  opacity: 0.7; 
  float: right;
}

span#LeftSideHeaders {
  padding-left: 4%; 
  color: white; 
  font: normal 36px PT Serif;
  letter-spacing: 1.61px;
}

div#gameStylesBox {
  background-color: rgb(58, 64, 66, .5); 
  border-radius: 14px;
}

span#GameStylesSubHeaders {
  color: white; 
  font: normal 24px PT Serif;
  letter-spacing: 1.61px;
}

span#opponentTypeSubheading {
  color: white; 
  font: normal 24px PT Serif;
  letter-spacing: 1.61px; 
  opacity: .7;
}

span#slateTime {
  color: white; 
  font: normal 24px PT Serif; 
  letter-spacing: 1.61px;
}

span#slateRegion {
  color: white; 
  font: normal 24px PT Serif; 
  letter-spacing: 1.61px; 
  opacity: .7;
}

select#slateFilter {
  padding-left: 1%; 
  padding-right: 1%; 
  background: #212121 0% 0% no-repeat padding-box; 
  font: Light 24px PT Serif; 
  letter-spacing: 0.74px; 
  color: white; 
  border: none; 
  background-color: rgb(58, 64, 66, .5); 
  border-radius: 14px;
}

span#entryMoneyLeft {
  color: white; 
  font: normal 24px PT Serif;
  letter-spacing: 1.61px;
}

span#entryMoneyRight {
  color: white; 
  font: normal 24px PT Serif;
  letter-spacing: 1.61px;
  float: right;
}

input#TextBoxInputEntryMoneyLeft {
  background: transparent 0% 0% no-repeat padding-box; 
  font: Light 24px PT Serif; 
  letter-spacing: 0.74px; 
  color: white; 
  opacity: 0.7; 
  border: none; 
  width: 50px;
}

input#TextBoxInputEntryMoneyRight {
  background: transparent 0% 0% no-repeat padding-box; 
  font: Light 24px PT Serif; 
  letter-spacing: 0.74px; 
  color: white; 
  opacity: 0.7; 
  border: none; 
  width: 70px; 
  float: right;
}

i.fas.fa-bookmark.fa-lg {
  transform: rotate(-90deg); 
  color: #8ECCCC;
}

span#tableContestName {
  color: white; 
  font: normal 24px PT Serif; 
  letter-spacing: 1.61px;
}

span#tableContestSpace {
  color: white; 
  font: normal 20px PT Serif;
  letter-spacing: 1.61px;
}

span#tableContestSpacePercent {
  color: white; 
  font: normal 18px PT Serif; 
  letter-spacing: 1.61px; 
  opacity: .7;
}

span#tableContestPrizeAmount {
  color: white; 
  font: normal 24px PT Serif; 
  letter-spacing: 1.61px;
}

span#tableContestGuaranteed {
  color: white; 
  font: normal 18px PT Serif; 
  letter-spacing: 1.61px; 
  opacity: .7;
}

i.fas.fa-coins {
  color: #8ECCCC;
}

span#tableContestEntryFee {
  color: white; 
  font: normal 24px PT Serif; 
  letter-spacing: 1.61px;
}

span#tableContestEntryFeeText {
  color: white; 
  font: normal 18px PT Serif; 
  letter-spacing: 1.61px; 
  opacity: .7;
}

i.fas.fa-chevron-right {
  color: #8ECCCC;
}

span#rosterBreakdown {
  color: white; 
  font: Bold 42px PT Serif;
  letter-spacing: 1.61px;
}

p#RosterBreakdownText {
  color: white; 
  font: normal 42px PT Serif; 
  text-align: center;
  letter-spacing: 1.61px;
}

a#rosterBreakdownButton {
  z-index: 1; 
  font: lighter 44px PT Serif;
  letter-spacing: 0.74px;
  color: #FFFFFF;
}

span#scoringBreakdown {
  color: white; 
  font: Bold 42px PT Serif;
  letter-spacing: 1.61px;
}

a#scoringBreakdownButton {
  z-index: 1; 
  font: lighter 44px PT Serif;
  letter-spacing: 0.74px;
  color: #FFFFFF;
}

tr:not(:last-child) {
  border-bottom:2pt solid #8ECCCC;
}

input#male {
  border: 0px;
  width: 40px;
  height: 2em;
}

input#test {
  border: 0px;
  width: 40px;
  height: 2em;
}