<div>
    <div *ngIf="status != undefined" id="status-field">
        <h3>{{ status }}</h3>

        <div *ngIf="status == 'SUCCESS!'">
            Your new password has successfully been reset.
        </div>
        <div *ngIf="status == 'ERROR'">
            {{ errorMsg }} Please try again.
        </div>
    </div>
    <div *ngIf="status != 'SUCCESS!'">
        <label>
            Email
            <input type="text" [(ngModel)]="email" />
        </label>
        <label>
            Old Password
            <input type="password" [(ngModel)]="oldPassword" />
        </label>
        <label>
            New Password
            <input type="password" [(ngModel)]="password" />
        </label>
        <label>
            Confirm Password
            <input type="password" [(ngModel)]="password2" />
        </label>
        <button (click)="resetPassword()">RESET PASSWORD</button>
    </div>
</div>