body {
    background-color: #212121;
    color: whitesmoke;
    height: 1080px;
    font-size: 20px;
}

h1 {
    text-align: center;
    font-variant: small-caps;
}

h3 {
    text-align: center;
}

.container {
    width: 50%;
}

#form-field {
    margin-top: 10px;
    display: block;
}

label {
    width: 100%;
}

input {
    background-color: lightgray;
    width: 100%;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 10px 10px;
    box-sizing: border-box;
    padding: 5px;
}

button{
    border-radius: 10px 10px;
    background-color: gray;
    color: whitesmoke;
    width: 30%;
}