<body>
    <div class="container">
        <h1>Reset Password</h1>
        <div *ngIf="status != undefined" id="status-field" [style]="getColor()">
            <b>{{ status }}:</b>
            <span *ngIf="status == 'SUCCESS'">
                Your new password has successfully been reset.
            </span>
            <span *ngIf="status == 'ERROR'">
                {{ errorMsg }} Please try again.
            </span>
        </div>
        <div *ngIf="status != 'SUCCESS'">
            <label>
                Email
                <input type="text" [(ngModel)]="email" />
            </label>
            <label>
                Old Password
                <input type="password" [(ngModel)]="oldPassword" />
            </label>
            <label>
                New Password
                <input type="password" [(ngModel)]="password" />
            </label>
            <label>
                Confirm Password
                <input type="password" [(ngModel)]="password2" />
            </label>
            <div style="text-align: center">
                <button (click)="resetPassword()">RESET PASSWORD</button>
            </div>
        </div>
    </div>
</body>