.hl, .vl, .cls-2 {
    fill: #fff;
}

.hl {
    width: 100%;
}

.cls-2 {
    isolation: isolate;
    font-size: 5.01px;
    font-family: RogueSans-Medium, Rogue Sans;
    font-weight: 500;
    font-variant: small-caps;
}

svg {
    padding: 2px;
    cursor: pointer;
    background-size: contain;
    width: fit-content;
    height: 50px;
}