.body {
    background-color: transparent
}

.header h1 {
    color: #8ceeee ;
    font-family: Rogue Sans;
    top: 18%;
    left: 10%;
    text-align: center;
}

.body img.logo {
    height: 60%;
    width: 45%;
    margin-left: 48%;
    margin-top: 4%;
}

.text p {
    color: #8ceeee ;
    font-family: Rogue Sans;
    margin-top: -20%;
    margin-left: 15%;
    font-weight: bolder;
    font-size: 130%;
}