<div class="body">
    <div class="header">
        <h1>IT'S EASY TO GET STARTED</h1>
    </div>

    <div>
    <img src="./assets/esportsone-platform-league-of-legends-fantasy-tour.png" class="logo" />
    </div>

    <div class="text">
        <div class="separator">1.</div>
        <p class="line">Sign up to play</p>
        <div class="separator">2.</div>
        <p class="line">Choose a game and draft <br> from upcoming tournaments</p>
        <div class="separator">3.</div>
        <p class="line">Rack up on points and<br> win on site tokens</p>
    </div>

</div>