<div class="body">
    <div class="header">
        <h1>IT'S EASY TO GET STARTED</h1>
    </div>

    <div>
    <img src="./assets/esportsone-platform-league-of-legends-fantasy-tour.png" class="logo" />
    </div>

    <div class="text">
        <div class="separator">1.</div>
        <pre class="line">Sign up to play</pre>
        <div class="separator">2.</div>
        <pre class="line">Choose a game and <br>draft players from <br>tournaments</pre>
        <div class="separator">3.</div>
        <pre class="line">Rack up on points <br>and win on site <br>tokens</pre>
    </div>

</div>