.background {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 1920px;
    height: 1080px;
    background: transparent url('emuLadderBackground/emuLadderBackground.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}

.midemuladder {
    width:100%; 
    height:100%; 
    background:url('emuLadderAIWHITEOUT/emuLadderAIWHITEOUT.png') center center no-repeat;
  }

.scrolldown {
    width:100%;
    height:300px;
    background:url('scrollDownWhite/scrollDownWhite.png') center no-repeat;;
}

.topnav {
    background-color: black;
    overflow: hidden;
    height: 90px;
    width: 1920px;
    margin:0;
    position: fixed;
}

.topnav a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 40px;
    font-weight: bold;
    margin-left:40px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: black;
    color: white;
    padding-top: 10px;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 10px;
}

.topnav a.active:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.left {
    background-color: black;
    color: #8ECCCC;
    display:inline;
    margin-left: 900px;
}

.topnav a.left:hover {
    background-color: #ddd;
    color: black;
}