      <div class="topnav">
        <a href="#"><img src="../../assets/emuLadderAIWHITEOUT.png" width="120" height="29"></a>
        <div class="dropdown">
          <button class="dropbtn">Games</button>
          <div class="dropdown-content">
            <a href="#">League of Legends</a>
            <a href="#">Dota 2(Coming Soon)</a>
            <a href="#">Overwatch(Coming Soon)</a>
            <a href="#">CSGO(Coming Soon)</a>
          </div>
        </div>
        <a href="#">FAQ</a>
        <div class="topnav-right">
          <a id="sign-up-btn" href="#">SignUp</a>
          <a href="#">LogIn</a>
        </div>
      </div>