<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  </head>
  <body>

    <div class="body">
      <div class="topnav">
        <a href="#"><img src="../../assets/emuLadderAIWHITEOUT.png" width="120" height="29"></a>
        <div class="dropdown">
          <button class="dropbtn" aria-haspopup="true" aria-expanded="false">Games<span class="caret"></span></button>
          <div class="dropdown-content">
            <a href="#">League of Legends</a>
            <a href="#">Dota 2(Coming Soon)</a>
            <a href="#">Overwatch(Coming Soon)</a>
            <a href="#">CSGO(Coming Soon)</a>
          </div>
        </div>
        <a href="#">FAQ</a>
        <div class="topnav-right">
          <a id="sign-up-btn" href="#">SignUp</a>
          <a href="#">LogIn</a>
        </div>
      </div>

      <div class="midemuladder"></div>
      <div class="scrolldown"></div>

    </div>
    

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </body>
</html>