<ul>
  <div>
    <li style="margin-left: 5px; margin-right: 5px">
      <div id="img-container">
        <img src="../../assets/emuLadderAIWHITEOUT.png" height="50px" 
          routerLink="" style="cursor: pointer" />
      </div>
    </li>
    <li>
      <div class="dropdown">
        <button class="dropbtn">Games</button>
        <div class="dropdown-content">
          <a routerLink="games/leagueoflegends">League of Legends</a>
          <a routerLink="games/comingsoon">Dota 2(Coming Soon)</a>
          <a routerLink="games/comingsoon">Overwatch(Coming Soon)</a>
          <a routerLink="games/comingsoon">CSGO(Coming Soon)</a>
        </div>
      </div>
    </li>
    <li>
      <a routerLink="info/faq">FAQ</a>
    </li>
    <li *ngIf="isSignedIn()">
      <a routerLink="contest/view">Contests</a>
    </li>
  </div>
  <div style="float:right">
    <li *ngIf="isSignedIn()">
      <button (click)="logout()">LogOut</button>
    </li>
    <li *ngIf="!isSignedIn()">
      <app-sign-in></app-sign-in>
    </li>
    <li *ngIf="!isSignedIn()">
      <app-sign-up></app-sign-up>
    </li>
  </div>
</ul>