<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
    integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
</head>

<!-- Button trigger modal -->
<button data-toggle="modal" data-target=".bd-example-modal-lg">
  SignUp
</button>

<!-- Modal -->
<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" style="max-width: 1298px;">
    <div class="modal-content">
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <div class="col-7">
              <div class="row" id="Welcome">
                <div class="col-auto" style="color: #3A4042; font: Bold 42px PT Serif;
                    letter-spacing: 1.61px;">Welcome to EMULADDER.</div>
              </div>

              <div class="row" id="Slogan">
                <div class="col-auto" style="color: #3A4042; font: Light 28px/34px PT Serif;
                  letter-spacing: 0px;">Lets set you up so you can create your bracket ladder.</div>
              </div>
              <div class="row" id="HaveAccount" (click)="openLogIn()">
                <div class="col-auto" style="color: #3A4042; font: Light 24px/28px PT Serif;
                  letter-spacing: 0.74px;
                  opacity: 0.8;">Already have an account? <a id="login-link">Log In</a></div>
              </div>
              <div class="row" *ngIf="error">
                <div class="col-auto">
                  <div class="error">{{ getErrorMessage() }}</div>
                </div>
              </div>
              <div class="row headers">
                <div class="col-lg-5 lg-auto" style="font: Light 24px/28px PT Serif;
                  letter-spacing: 0.74px;
                  color: #3A4042;">First Name</div>
                <div class="col-lg-5 lg-auto" style="font: Light 24px/28px PT Serif;
                  letter-spacing: 0.74px;
                  color: #3A4042;">Last Name</div>
              </div>
              <div class="row text-boxes">
                <div class="col-lg-5 lg-auto"><input class="TextBoxInput" type="text" placeholder="John" name="fname"
                    required style="border-radius: 8px; background: #8ECCCC 0% 0% no-repeat padding-box;
                    border: 1px solid #818688; font: Light 24px/28px PT Serif;
    letter-spacing: 0.74px;
    color: #3A4042;
    opacity: 0.7;"></div>
                <div class="col-lg-5 lg-auto"><input class="TextBoxInput" type="text" placeholder="Doe" name="lname"
                    required style="border-radius: 8px; background: #8ECCCC 0% 0% no-repeat padding-box;
                    border: 1px solid #818688; font: Light 24px/28px PT Serif;
    letter-spacing: 0.74px;
    color: #3A4042;
    opacity: 0.7;"></div>
              </div>
              <div class="row headers">
                <div class="col-lg-5 lg-auto" style="font: Light 24px/28px PT Serif;
                  letter-spacing: 0.74px;
                  color: #3A4042;">Phone</div>
                <div class="col-lg-5 lg-auto" style="font: Light 24px/28px PT Serif;
                  letter-spacing: 0.74px;
                  color: #3A4042;">Email</div>
              </div>
              <div class="row text-boxes">
                <div class="col-lg-5 lg-auto"><input class="TextBoxInput" type="tel" placeholder="(065)-941-6298"
                    name="pnum" required style="border-radius: 8px; background: #8ECCCC 0% 0% no-repeat padding-box;
                    border: 1px solid #818688; font: Light 24px/28px PT Serif;
    letter-spacing: 0.74px;
    color: #3A4042;
    opacity: 0.7;"></div>
                <div class="col-lg-5 lg-auto"><input class="TextBoxInput" type="email" placeholder="JohnDoe@email.com"
                    name="uname" required style="border-radius: 8px; background: #8ECCCC 0% 0% no-repeat padding-box;
                    border: 1px solid #818688; font: Light 24px/28px PT Serif;
    letter-spacing: 0.74px;
    color: #3A4042;
    opacity: 0.7;"></div>
              </div>
              <div class="row headers">
                <div class="col-lg-5 lg-auto" style="font: Light 24px/28px PT Serif;
                  letter-spacing: 0.74px;
                  color: #3A4042;">Password</div>
                <div class="col-lg-5 lg-auto" style="font: Light 24px/28px PT Serif;
                  letter-spacing: 0.74px;
                  color: #3A4042;">Confirm Password</div>
              </div>
              <div class="row text-boxes">
                <div class="col-lg-5 lg-auto"><input class="TextBoxInput" type="password" placeholder="*************"
                    name="psw" required style="border-radius: 8px; background: #8ECCCC 0% 0% no-repeat padding-box;
                    border: 1px solid #818688; font: Light 24px/28px PT Serif;
    letter-spacing: 0.74px;
    color: #3A4042;
    opacity: 0.7;"></div>
                <div class="col-lg-5 lg-auto"><input class="TextBoxInput" type="password" placeholder="*************"
                    name="psw" required style="border-radius: 8px; background: #8ECCCC 0% 0% no-repeat padding-box;
                    border: 1px solid #818688; font: Light 24px/28px PT Serif;
    letter-spacing: 0.74px;
    color: #3A4042;
    opacity: 0.7;"></div>
              </div>
              <div class="row" id="Policy">
                <div class="col-lg-8 lg-auto">
                  <div class="form-check">
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" id="defaultUnchecked">
                      <label class="custom-control-label" for="defaultUnchecked" style="font: Light 24px/28px PT Serif;
                        letter-spacing: 0.74px; color: #3A4042; padding-left: 8px;">I agree to the 
                        <a href="info/terms" class="info-link">Terms</a>
                        and
                        <a href="info/privacy" class="info-link">Privacy Policy.</a>
                      </label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row" id="SignUpRow">
                <div class="col-lg-5 lg-auto" (click)="signUp()">
                  <button type="button" class="button" id="SignUp" style="font: Light 24px/28px PT Serif;
                    letter-spacing: 0.74px;
                    color: #FFFFFF;">Sign Up</button>
                  <button class="button" id="SignUp2">Sign Up</button>

                </div>
              </div>
            </div>
            <div class="col-5" style="padding-right: 0px;">
              <a class="close" data-dismiss="modal" id="close-signup-btn">
                <i class="far fa-times-circle" style="color:white; position: absolute; right: 0;"></i>
              </a>
              <img style="float: right; width: 100%; height: 100%;"
                src="../../assets/ladderAndPhotoMatingSignUpDarker.png">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
  integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
  integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
  integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>