<!DOCTYPE html>
<form action="action_page.php" method="post">
<html>
    <div class="container">
        <label for="email"><b>Email</b></label>
        <label for="password"><b>Enter new Password</b></label>
        <input type="password" placeholder="**********" name="psw" required>
        <label for="repassword"><b>ReEnter your new Password</b></label>
        <input for="repassword" placeholder="**********" name="repsw" required>
        <button type="submit">Submit</button>
    </div>

    <div class="container">
        <button type="button" class="cancelbtn">Cancel</button>
    </div>
</html>
</form>