<body>
    <div class="container">
        <h1>Forgot Password</h1>
        <div *ngIf="status != undefined" id="status-field" [style]="getColor()">
            <b>{{ status }}:</b>
            <span *ngIf="status == 'SUCCESS'">
                Your new password has successfully been sent to <b>{{ email }}</b>. Please proceed to <a
                    routerLink="../resetPassword">www.emuladder.com/account/resetPassword</a> to reset your password.
            </span>
            <span *ngIf="status == 'ERROR'">
                {{ errorMsg }}. Please try again.
            </span>
        </div>
        <div *ngIf="status != 'SUCCESS'" id="form-field">
            <label>
                <b>Email:</b> Please enter your email below to have a temporary password emailed to you.
                <input type="text" [(ngModel)]="email" />
            </label>
            <div style="text-align: center">
                <button (click)="forgotPassword()">SUBMIT</button>
            </div>
        </div>
    </div>
</body>