<div>
    <div *ngIf="status != undefined" id="status-field">
        <h3>{{ status }}</h3>

        <div *ngIf="status == 'SUCCESS!'">
            Your new password has successfully been sent to <b>{{ email }}</b>.
        </div>
        <div *ngIf="status == 'ERROR'">
            Could not find an account associated with email <b>{{ oldEmail }}</b>. Please try again.
        </div>
    </div>
    <div *ngIf="status != 'SUCCESS!'" id="form-field">
        <label>
            <b>Email</b>
            <input type="text" [(ngModel)]="email" />
        </label>
        <button (click)="forgotPassword()">SUBMIT</button>
    </div>
</div>