<div>
    <img class="bg" src="../assets/emuLadderBackground.png">
</div>

<svg id="Layer_2" data-name="Layer 2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22.21 6.72">
    <defs>
        <style>
            .cls-1 {
                fill: #fff;
            }
            .cls-2 {
                font-size: 5.01px;
                font-family: RogueSans-Medium, Rogue Sans;
                font-weight: 500;
                letter-spacing: 0.01em;
                animation: fill 2s ease forwards 0s;
            }
        </style>
    </defs>
    <title>LadderAnimPlusWords</title>
    <rect id="_TopLong_" data-name="&lt;TopLong&gt;" class="cls-1" x="0.33" y="4.52" width="21.68" height="0.23">
        <animate attributeName="width" from="0" to="21.68" dur="1s" fill="freeze"></animate>
    </rect>
    <rect id="_BottomLong_" data-name="&lt;BottomLong&gt;" class="cls-1" x="0.33" y="6.37" width="21.68"
    height="0.23">
        <animate attributeName="width" from="0" to="21.68" dur="1.6s" fill="freeze"></animate>
    </rect>
    <rect class="cls-1" x="0.86" y="4.38" width="0.23" height="2.33">
        <animate attributeName="height" from="0" to="2.33" dur="1s" fill="freeze"></animate>
    </rect>
    <rect class="cls-1" x="2.07" y="4.38" width="0.23" height="2.33">
        <animate attributeName="height" from="0" to="2.33" dur="1.05s" fill="freeze"></animate>
    </rect>
    <rect class="cls-1" x="3.28" y="4.38" width="0.23" height="2.33">
        <animate attributeName="height" from="0" to="2.33" dur="1.1s" fill="freeze"></animate>
    </rect>
    <rect class="cls-1" x="4.49" y="4.38" width="0.23" height="2.33">
        <animate attributeName="height" from="0" to="2.33" dur="1.15s" fill="freeze"></animate>
    </rect>
    <rect class="cls-1" x="5.7" y="4.38" width="0.23" height="2.33">
        <animate attributeName="height" from="0" to="2.33" dur="1.2s" fill="freeze"></animate>
    </rect>
    <rect class="cls-1" x="6.9" y="4.38" width="0.23" height="2.33">
        <animate attributeName="height" from="0" to="2.33" dur="1.25s" fill="freeze"></animate>
    </rect>
    <rect class="cls-1" x="8.11" y="4.38" width="0.23" height="2.33">
        <animate attributeName="height" from="0" to="2.33" dur="1.3s" fill="freeze"></animate>
    </rect>
    <rect class="cls-1" x="9.32" y="4.38" width="0.23" height="2.33">
        <animate attributeName="height" from="0" to="2.33" dur="1.35s" fill="freeze"></animate>
    </rect>
    <rect class="cls-1" x="10.53" y="4.38" width="0.23" height="2.33">
        <animate attributeName="height" from="0" to="2.33" dur="1.4s" fill="freeze"></animate>
    </rect>
    <rect class="cls-1" x="11.74" y="4.38" width="0.23" height="2.33">
        <animate attributeName="height" from="0" to="2.33" dur="1.45s" fill="freeze"></animate>
    </rect>
    <rect class="cls-1" x="12.95" y="4.38" width="0.23" height="2.33">
        <animate attributeName="height" from="0" to="2.33" dur="1.5s" fill="freeze"></animate>
    </rect>
    <rect class="cls-1" x="14.15" y="4.38" width="0.23" height="2.33">
        <animate attributeName="height" from="0" to="2.33" dur="1.55s" fill="freeze"></animate>
    </rect>
    <rect class="cls-1" x="15.36" y="4.38" width="0.23" height="2.33">
        <animate attributeName="height" from="0" to="2.33" dur="1.6s" fill="freeze"></animate>
    </rect>
    <rect class="cls-1" x="16.57" y="4.38" width="0.23" height="2.33">
        <animate attributeName="height" from="0" to="2.33" dur="1.65s" fill="freeze"></animate>
    </rect>
    <rect class="cls-1" x="17.78" y="4.38" width="0.23" height="2.33">
        <animate attributeName="height" from="0" to="2.33" dur="1.7s" fill="freeze"></animate>
    </rect>
    <rect class="cls-1" x="18.99" y="4.38" width="0.23" height="2.33">
        <animate attributeName="height" from="0" to="2.33" dur="1.75s" fill="freeze"></animate>
    </rect>
    <rect class="cls-1" x="20.2" y="4.38" width="0.23" height="2.33">
        <animate attributeName="height" from="0" to="2.33" dur="1.8s" fill="freeze"></animate>
    </rect>
    <rect class="cls-1" x="21.4" y="4.38" width="0.23" height="2.33">
        <animate attributeName="height" from="0" to="2.33" dur="1.85s" fill="freeze"></animate>
    </rect>
    <text class="cls-2" transform="translate(0 4.15)">EMULADDER</text>
  </svg>

  <div class="scroll-downs">
    <div class="mousey">
      <div class="scroller"></div>
    </div>
  </div>

  <div class="wrap">
    <img src="http://image.flaticon.com/icons/svg/3/3907.svg" id="arrow" class="animated bounce">
  </div>
  <div class="wrap2">
    <img src="http://image.flaticon.com/icons/svg/3/3907.svg" id="arrow" class="animated bounce">
  </div>